<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue/dist/vue.js" charset="utf-8"></script>
    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
    <script type="text/javascript" src="http://cdn1.utouu.com/utouion/pc/v2/skin/common/js/lib.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn1.utouu.com/utouion/pc/v2/skin/common/css/style.css?123" />
    <title>Document</title>
</head>

<body>

    <div id="main">
        <label for="inp">Original message:</label><input type="text" v-model="message" id="inp">
        <br>
        <br>
        <label for="comput">Computed reversed message:</label><span>{{reversedMessage}}</span>
    </div>


    <div id="compont">
        <ul>
            <li  v-for="(todo,index) in todos" :title="todo" :key="todo">{{todo}}</li>
        </ul>

    </div>
    <script>
        var mainApp = new Vue({
            el: "#main",
            data: {
                message: ""
            },
            computed: {
                reversedMessage: function() {
                    return this.message.split('').reverse().join('');
                }
            }
        })

        Vue.component('todo-item',{
          template:`<span>123123</span>`,
          props:['title']
        })
        var compontApp = new Vue({
          el:"#compont",
          data:{
            todos:['1','1','3']
          }
        })
    </script>
</body>

</html>
